.about-me {
  padding: 110px 0 50px;
  background-color: #202020;
}

.about-me__columns {
  margin-top: 66px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.about-me__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #FFFFFF;
}

.about-me__proffesion {
  margin-top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.about-me__about {
  max-width: 600px;
  margin-top: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.about-me__social {
  margin-top: 99px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.about-me__image {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__proffesion {
    margin-top: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__about {
    max-width: 364px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__social {
    margin-top: 87px;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__columns {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .about-me {
    padding: 70px 4px 35px;
  }

  .about-me__columns {
    margin-top: 60px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-me__image {
    width: 100%;
    height: 352px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__proffesion {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__about {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__social {
    margin-top: 40px;
  }
}